<div class="welcome jumbotron">
  <h2>Witaj!</h2>
  
  <p>System ten służy do obsługi rezerwacji w Nowym Domu Polskim w Jerozolimie. Na górnej belce znaleźć można 3 przyciski pozwalające przejść do widoku określonego aspektu aplikacji. 
  </p>
  <p>
  <button type="button" class="btn btn-success btn-xs btn-constsize-200">Widok rezerwacji</button> - pozwala na zarządzanie (dodawanie,usuwanie,edycję) rezerwacji i prowadzenie kontroli nad zeszłymi i najbliższymi przyjazdami. 
  </p><p>
  <button type="button" class="btn btn-info btn-xs btn-constsize-200">Pokoje</button> - widok ten pozwala na dodawanie/usuwanie/czasowe wyłączenie z użytku zadanych pokoi, pozwala także na monitorowanie zajętości pokoi w wybranym przedziale czasu.
  </p><p>
  <button type="button" class="btn btn-warning btn-xs btn-constsize-200">Mieszkańcy</button> - widok ten pozwala dodawać/edytować/usuwać dane kontaktowe do osób składających rezerwacje. Pozwala przeglądać historię rezerwacji, oraz weryfikację najbliższych przyjazdów.
  </p>
</div>