<div class="jumbotron reservations">
  <h2>Rezerwacje!</h2>

  <table>
    <thead>
      <tr>
        <td>Mieszkaniec</td>
        <td>Data od</td>
        <td>Data do</td>
        <td>Liczba osób</td>
        <td>Data rezerwacji</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="reservation in future_reservations">
        <td>{{reservation.locator.name}} {{reservation.locator.surname}}</td>
        <td>{{reservation.since}}</td>
        <td>{{reservation.till}}</td>
        <td>{{reservation.people_count}}</td>
        <td>{{reservation.reservation_time}}</td>
      </tr>
    </tbody>
  </table>
</div>