<div class="reservations">
  <h2>Rezerwacje!</h2>

  <!--<table st-table="rowCollection" class="table table-striped">-->
  
    <div class="table-container">
      <table st-table="rowCollection" st-pagination-scroll  st-pipe="callServer" class="table table-striped">

        <thead>
          <tr>
            <th st-sort="name">Mieszkaniec</th>
            <th>Data od</th>
            <th>Data do</th>
            <th>Liczba osób</th>
            <th>Data rezerwacji</th>
            <th>Modyfikuj</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="reservation in future_reservations">
            <td><a ng-href="/#/locators/{{reservation.locator_id}}">{{reservation.locator.name}} {{reservation.locator.surname}}</a></td>
            <td>{{reservation.since}}</td>
            <td>{{reservation.till}}</td>
            <td>{{reservation.people_count}}</td>
            <td>{{reservation.reservation_time}}</td>
            <td>
              <div class = "btn-group">
                <button class="btn btn-success btn-xs" type="button">Edytuj</button>
                <button class="btn btn-danger btn-xs" type="button">Usuń</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>