<div class="reservations">
  <h2>Rezerwacje!</h2>

  <!--<table st-table="rowCollection" class="table table-striped">-->
  
    <div class="table-container">
  <table st-table="rowCollection" st-pagination-scroll  st-pipe="callServer" class="table table-striped">

    <thead>
      <tr>
        <th st-sort="name">Mieszkaniec</th>
        <th>Data od</th>
        <th>Data do</th>
        <th>Liczba osób</th>
        <th>Data rezerwacji</th>
        <th>Modyfikuj</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="reservation in future_reservations">
        <td>{{reservation.locator.name}} {{reservation.locator.surname}}</td>
        <td>{{reservation.since}}</td>
        <td>{{reservation.till}}</td>
        <td>{{reservation.people_count}}</td>
        <td>{{reservation.reservation_time}}</td>
        <td><button type="button" class="btn btn-info btn-xs btn-constsize-200">Modyfikuj</button></td>
      </tr>
    </tbody>
  </table>
  </div>
</div>