<div class="jumbotron rooms">
  <h2>
  	Pokoje dostępne dla lokatorów 
    <button class="btn btn-success" role="button" ng-click="editRooms();">Zarządzaj pokojami</button>
  </h2>
  
  <div class="panel panel-primary">
  	<div class="panel-body">
    Wybierz zadany przez siebie przedział czasu, aby zobaczyć, które pokoje są w danym okresie zajęte/wolne/wyłączone z użytku. Dla pokoi zajętych, kliknięcie na numer pokoju przeniesie do widoku rezerwacji powiązanej z tym pokojem w zadanym czasie.
  	</div>
  </div>


  <div id="rooms-wrapper">
	<!-- <div ui-calendar="uiConfig.calendar" ng-model="eventSources" id="calendar-box"></div> <-->
	<div id="calendar-box">
<form>
<div class="form-group">
<select ng-model="room_state" ng-init="room_state='rooms_free'" class="form-control">
  <option value="rooms_free" selected="selected">Wolne pokoje</option>
  <option value="rooms_occupied">Zarezerwowane pokoje</option>
  <option value="rooms_excluded">Pokoje wyłączone z użytku</option>
  <option value="rooms_occupied_or_excluded">Pokoje zarezerwowane lub wyłączone z użytku</option>
</select>
</div>
<p>Od:
<datetimepicker ng-model="date_since" 
                date-format="dd-MMM-yyyy" 
                date-options="dateOptions" 
                date-disabled="isDisabledDate(date, mode)"
                show-meridian="false">
</datetimepicker>
</p>

<p>Do:
<datetimepicker ng-model="date_till" 
                date-format="dd-MMM-yyyy" 
                date-options="dateOptions" 
                date-disabled="isDisabledDate(date, mode)"
                show-meridian="false">
</datetimepicker>
</p>
</form>
	</div>
	 <div id="rooms-details">
      <button type="button" class="btn btn-large btn-success" ng-repeat="room in all_rooms" data-id="{{room.number}}">Pokój nr: {{room.number}}<br/><small>miejsc: {{room.capacity}}</small></button>
	 </div>
    <div class="clearme"></div>
  </div>
</div>
