$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

.welcome {
  text-align: left;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-weight: bold;
  }

  .btn-constsize-200 {
    width: 150px;
  }

  p {
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}


/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (max-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}



.room-available-at-time {
  background-color: green;
}

.room-unavailable-at-time {
  background-color: red;
}


/*                        */
.reservations, .locators {
  table {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      height: 500px; /* this can vary */
  }

  table * {
      box-sizing: inherit;
      -moz-box-sizing: inherit;
  }

  thead {
      display: flex;
      flex-direction: column;
      align-items: stretch;
  }

  tbody {
      overflow-y: scroll;
      display: inline-block;
      td {
        font-size: 14px;
      }
  }

  thead > tr, tbody > tr, tfoot > tr {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
  }


  thead > tr { 
    padding-right: 15px;
  }
  thead, tfoot {
      flex-shrink: 0;
  }


  th, tbody td {
      width: 20%; 
      overflow-x: hidden;
      text-overflow: ellipsis;
      display: inline-block;
  }

  tfoot {
      display: inline-block;
  }

  tfoot td {
      width: 100%;
      display: inline-block;
  }
}

.locators {
  a {
   // color: #69C;
    text-decoration: none;
  }
  a:hover {
    //color: #F60;
  }
  h1 {
    font: 1.7em;
    line-height: 110%;
    color: #000;
  }
  p {
    margin: 0 0 20px;
  }


  input {
    outline: none;
  }
  input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
  }
  input::-webkit-search-decoration,
  input::-webkit-search-cancel-button {
    display: none; 
  }


  input[type=search] {
    background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 50%;
    
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
  }
  input[type=search]:focus {
    width: 70%;
    background-color: #fff;
    border-color: #66CC75;
    
    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
  }


  input:-moz-placeholder {
    color: #999;
  }
  input::-webkit-input-placeholder {
    color: #999;
  }
}