<div class="form-group">
  <label for="name">Imię:</label>
  <input type="text" class="form-control" id="name" ng-model="locator.name">
</div>
<div class="form-group">
  <label for="surname">Nazwisko:</label>
  <input type="text" class="form-control" id="surname" ng-model="locator.surname">
</div>
<div class="form-group">
  <label for="email">Email (nieobowiązkowy):</label>
  <input type="email" class="form-control" id="email" ng-model="locator.email">
</div>
<div class="form-group">
  <label for="phone">Telefon (nieobowiązkowy):</label>
  <input type="text" class="form-control" id="phone" ng-model="locator.phone">
</div>
<div class="checkbox">
  <label><input type="checkbox">Po dodaniu przejdź do tworzenia rezerwacji z udziałem użytkownika</label>
</div>
<button type="submit" class="btn btn-success">Zapisz</button>