<div class="jumbotron locators">
  <h2>Mieszkańcy
  	<!-- <a ng-href="#/create/locator/" class="btn btn-success" role="button">Stwórz nowego</a> -->
  	<button class="btn btn-success" role="button" ng-click="createLocator();">Stwórz nowego</button>
  </h2>

  <div class="table-container">
    <form>
	<input type="search" ng-model="search.input" placeholder="lub wyszukaj (po imieniu, nazwisku, telefonie, e-mailu)" ng-keyup="search.keyUp()">
  </form>

  <br/> 
  <table st-table="rowCollection" st-pagination-scroll  st-pipe="callServer" class="table table-striped">
    <thead>
      <tr>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Telefon</th>
        <th>E-mail</th>
        <th>Rezerwacje</th>
        <th>Modyfikuj</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="locator in all_locators" data-id="{{locator.id}}">
        <td st-sort="name">{{locator.name}}</td>
        <td st-sort="surname">{{locator.surname}}</td>
        <td st-sort="phone">{{locator.phone}}</td>
        <td st-sort="email">{{locator.email}}</td>
        <td>
           <a ng-href="#/locators/{{locator.id}}" class="btn btn-primary btn-xs" role="button">Rezerwacje</button>
        </td>
        <td>
          <div class = "btn-group">
          	<a ng-click="editLocator({{locator.id}})" class="btn btn-success btn-xs" type="button" role="button">Edytuj</a>
          	<a ng-click="deleteLocator({{locator.id}})" class="btn btn-danger btn-xs" type="button" role="button">Usuń</a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>