<div class="form-group">
  <label for="locator">Lokator:</label>
  <input type="text" class="form-control" id="locator" ng-model="reservation.locator" capitalize>
</div>
<div class="form-group">
  <label for="since">Rezerwacja od::</label>
  <!--<input type="text" class="form-control" id="since" ng-model="reservation.since" capitalize>-->
  <datetimepicker ng-model="reservation.since" 
                date-format="dd-MMM-yyyy" 
                date-options="dateOptions" 
                date-disabled="isDisabledDate(date, mode)"
                show-meridian="false">
</datetimepicker>
</div>
<div class="form-group">
  <label for="till">Rezerwacja do:</label>
  <!--<input type="text" class="form-control" id="till" ng-model="reservation.till" removespaces>-->
  <datetimepicker ng-model="reservation.till" 
                date-format="dd-MMM-yyyy" 
                date-options="dateOptions" 
                date-disabled="isDisabledDate(date, mode)"
                show-meridian="false">
</datetimepicker>
</div>
<div class="form-group">
  <label for="is_paid">Czy opłacono?</label>
  <!--<input type="text" class="form-control" id="is_paid" ng-model="reservation.is_paid" removespaces>-->
  <select class="form-control" id="is_paid" ng-model="reservation.is_paid" removespaces>
    <option value="1">Tak</option>
    <option value="0">Nie</option>
  </select>
</div>
<div class="form-group">
  <label for="people">Ile osób?</label>
  <input type="number" class="form-control" id="people" ng-model="reservation.people_count" removespaces>
</div>
<div class="form-group">
  <label for="dinners">Ile obiadów?</label>
  <input type="number" class="form-control" id="dinners" ng-model="reservation.dinners_count" removespaces>
</div>
<button type="submit" class="btn btn-success">Zapisz</button>