<div class="jumbotron reservations">
  <h2>Rezerwacje
  	<!-- <a ng-href="#/create/locator/" class="btn btn-success" role="button">Stwórz nowego</a> -->
  	<button class="btn btn-success" role="button" ng-click="createReservation();">Stwórz nową</button>
  </h2>

  <h5>Filtrowanie zawartości:</h5>
    <div class="form-group">
    <form>
    <!--<input type="search" class="form-control" ng-model="search.input" placeholder="lub wyszukaj (po imieniu, nazwisku, telefonie, e-mailu)" ng-keyup="search.keyUp()">
    </div>
    -->
    <label>Od: </label>
 <input type="datetime-local" id="since" name="filter_since" ng-model="filter_since"
      placeholder="yyyy-MM-ddTHH:mm:ssZ" min="2001-01-01T00:00:00" max="2025-12-31T00:00:00" required />

  <label>Do: </label>
 <input type="datetime-local" id="since" name="filter_till" ng-model="filter_till"
      placeholder="yyyy-MM-ddTHH:mm:ssZ" min="2001-01-01T00:00:00" max="2025-12-31T00:00:00" required />

<label> Lokator: </label>
  <select class="form-control inline-control" id="locator" ng-model="filter_locatorid" ng-options="locator.id as locator.name_surname for locator in locatorsIDName" required>

    <option value="">-- Wybierz osobę --</option>
</select>
</form>
</div>




  <div class="table-container">

  <br/> 
  <table id="reservations_table" st-table="rowCollection" st-pagination-scroll  st-pipe="callServer" class="table table-striped">
    <thead>
      <tr>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Od</th>
        <th>Do</th>
        <th>Szczegóły</th>
        <th>Edycja</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="reservation in future_reservations" data-id="{{reservation.id}}">
        <td st-sort="name">{{reservation.locator.name}}</td>
        <td st-sort="surname">{{reservation.locator.surname}}</td>
        <td st-sort="since">{{reservation.since | date: 'MMM d, y H:mm:ss' }}</td>
        <td st-sort="till">{{reservation.till | date: 'MMM d, y H:mm:ss' }}</td>
        <!--<td st-sort="paid">{{is_paid == "1" ? 'Tak': 'Nie'}}</td>
        <td st-sort="people_count">{{reservation.people_count}}</td>
        <td st-sort="dinner_count">{{reservation.dinners_count}}</td>-->
        <td><a ng-click="editReservation({{reservation.id}})" class="btn btn-primary btn-xs" role="button">Zobacz</a>
            </td>
        <td>
          <div class = "btn-group">
          	
            <a ng-click="editReservation({{reservation.id}})" class="btn btn-success btn-xs" type="button" role="button">Edytuj</a>
          	<a ng-click="deleteReservation({{reservation.id}})" class="btn btn-danger btn-xs" type="button" role="button">Usuń</a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>